.Navigation {
    margin-bottom: 20px;
    background-color: #D70F64;
    height: 70px;
}

.Brand {
    color: white;
    font-size: 15px;
    margin-top: -20px;
}

.Navigation .navlink {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-top: -25px;
    margin-left: 20px ;
}

.Navigation .navlink:hover {
    color: wheat;
    text-decoration: none;
}
